@charset "UTF-8";
@import url("circle-styles.css");
section {
	font-family: "Noto Sans TC", "Lato", sans-serif;
	letter-spacing: 0px;
	font-weight: 400;
}
section .dk,
section .mb { display: none;}
span.odds {
	margin-left: 4px;
	padding:  0px 4px;
	background: #000;
}
.circle small,
.circle strong,
.counter{
	font-family: 'Anton',"Noto Sans TC", sans-serif;
}
.circle {
	display: inline-block;
	line-height: 120%;
	margin: 0;
	position: relative;
	text-align: center;
	width: calc((100% - 15px) / 3 * 2);
}
.circle canvas {
	display: block;
	margin: 0 auto;
	transform: rotate(90deg);
	vertical-align: top;
}
.circle p.date{
	bottom: 25px;
	color: #999;
	font-size: 12px;
	left: 0;
	letter-spacing: 1px;
	position: absolute;
	right: 0;
	text-align: center;
}
.circle small,
.circle strong {
	color: #77dc24;
	font-size: 16px;
	left: 0;
	letter-spacing: 1px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0px;
}
.circle small{
	top: 20px;
}
.circle strong {
	font-size: 50px;
	letter-spacing: 2px;
	padding-left: 21px;
	top:calc(50% - 27px);
}
.circle strong i {
	color: #bbed91;
	font-size: 18px;
	opacity: .5;
}
.circle span {
	color: #aaa;
	display: block;
	margin-top: 12px;
}
.data-date{
	color: #666;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	list-style: none;
	padding: 0;
	text-align: left;
	vertical-align: top;
	width: calc((100% - 5px) / 3);
}
.data-date li{
	display: inline-block;
}
.data-date p{
	margin: 0 0 5px;
}
.data-date p.day{
	color: #aaa;
	font-size: 16px;
}
.data-date span.counter{
	color: #222;
	font-size: 40px;
	margin-right: 5px;
}



@media (min-width: 768px) {
	.circle{
		width: calc((100% - 15px) / 2);
	}
	.circle canvas{
		margin-top: 35px;
	}
	.circle small{
		font-size: 16px;
		top: 65px;
	}
	.circle strong {
		font-size: 70px;
		top: 110px;
	}
	.data-date{
		font-size: 16px;
		margin-top: 50px;
		width: calc((100% - 5px) / 2);
	}
	.data-date li+li{
		margin-left: 20px;
	}
	.data-date p.day{
		font-size: 35px;
		line-height: 110px;
	}
	.data-date span.counter{
		font-size: 100px;
	}
}
@media (max-width: 991px) {
	a#gotop { margin-top: 0; }
	section .mb { display: block;}
	section.content .m-filter-sub {
		margin: 0 10px;
		padding-top: 20px;
	}
	.fliter-menu {
		-webkit-transition: all .6s ease;
		transition:         all .6s ease;
		bottom: -50px !important;
		opacity: 0;
	}
	.fliter-menu.on {
		bottom: 0px !important;
		opacity: 1;
		-webkit-transition: all .3s ease;
		transition:         all .3s ease;
	}
}
@media (min-width: 992px){
	section .dk { display: block;}
	section.fliter-menu {
		position: relative;
		background: transparent;
		padding-top: 25px;
		color: #6f6f6f;
	}
	section.fliter-menu:after {
		position: absolute;
		left: 0; right: 0; bottom: -15px;
		content: '';
		width: 100%;
		height: 15px;
		background: url(../images/m_shadow.png) no-repeat 50% 50%;
		background-size: 100% 100%;
		opacity: 0.5;
	}
}
/* =========================================
   nav-scroll.navbar-fixed-top
============================================ */
#page-content-wrapper nav.nav-befix {
	background: rgba(47, 47, 47, 0.9);
	display: none;
	left: 0;
	padding: 10px 0;
	position: fixed;
	right: 0; top: 0;
	-webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.05);
	box-shadow:         0px 10px 30px 0px rgba(0,0,0,0.05);
}
#page-content-wrapper nav.nav-befix:after {
	content: none;
}
#page-content-wrapper nav.nav-befix > .container {
	position: relative;
	display: flex;
	align-items: center;
}
#page-content-wrapper nav.nav-befix .ex-photo {
	background: transparent center center no-repeat;
	background-size: cover;
	display: inline-block;
	height: 25px;
	margin-right: 5px;
	vertical-align: middle;
	width: 25px;
	border-radius: 50%;
}
#page-content-wrapper nav.nav-befix ul.list-inline {
	display: none;
}
#page-content-wrapper nav.nav-befix ul.list-unstyled {
	display: inline-block;
	margin-bottom: 0;
}
#page-content-wrapper nav.nav-befix li {
	display: inline-block;
	margin: 0;
}
#page-content-wrapper nav.nav-befix li.name {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	vertical-align: middle;
	width: auto;
	max-width: 10em;
}
#page-content-wrapper nav.nav-befix li.title {
	color: #aaa;
	font-size: 12px;
	vertical-align: middle;
}
#page-content-wrapper nav.nav-befix .to-cost {
	background: linear-gradient(to top, #ffaf24, #ff9412);
	border: none;
	border-radius: 6px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	line-height: 23px;
	padding: 0 10px;
	position: absolute;
	right: 5px; top: 50%;
	-webkit-transform: translateY(-50%);
	transform:         translateY(-50%);
}
@media (min-width: 992px){
	#page-content-wrapper { padding-top: 0; }
	#page-content-wrapper .nav-scroll {
		position: relative;
		
	}
	#page-content-wrapper .nav-scroll.navbar-fixed-top {
		position: fixed;
	}
	#page-content-wrapper nav.nav-befix {
		top: 0;
	}
	#page-content-wrapper .nav-scroll.navbar-fixed-top {
		position:relative;
	}
	#page-content-wrapper nav.nav-befix .ex-photo {
		height: 50px;
		vertical-align: top;
		width: 50px;
		border-radius: 50%;
	}
	#page-content-wrapper nav.nav-befix .to-cost {
		border-radius: 5px;
		font-size: 16px;
		line-height: 30px;
		width: 130px;
	}
	#page-content-wrapper nav.nav-befix ul.list-inline {
		color: #aaa;
		display: inline-block;
		font-size: 12px;
		margin-bottom: 0;
	}
	#page-content-wrapper nav.nav-befix ul.list-inline li {
		text-align: left;
		width: auto;
		white-space: nowrap;
		padding: 0 15px;
	}
	#page-content-wrapper nav.nav-befix ul.list-inline li:first-child {
	}
	#page-content-wrapper nav.nav-befix ul.list-inline li+li {
		border-left: #ddd 1px solid;
	}
	#page-content-wrapper nav.nav-befix ul.list-inline span {
		color: #666;
		display: block;
		font-size: 32px;
		line-height: 32px;
		font-weight: 600;
	}
	#page-content-wrapper nav.nav-befix ul.list-inline li:first-child span {
		font-size: 28px;
	}
	#page-content-wrapper nav.nav-befix ul.list-inline li.minus span { color: #fe2645; }
	#page-content-wrapper nav.nav-befix ul.list-inline li.plus span { color: #77dc24; }
	#page-content-wrapper nav.nav-befix ul.list-inline span:after {
		content: attr(data-unit);
		font-size: 16px;
	}
	#page-content-wrapper nav.nav-befix ul.list-unstyled { padding-right: 40px; }
	#page-content-wrapper nav.nav-befix ul.list-unstyled li {
		display: block;
	}
}

/* =========================================
   section: banner 
============================================ */
.dashboard-bg {
	background-image: url(../images/bg5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 174px;
	padding-bottom: 66px;
	background-position: center;
	/*position: relative;
	z-index: -2;*/
}



section.banner {
	position: relative;
	/*background: linear-gradient(to top, #ffa61e, #ff9412);*/
}
section.banner .container {
}
section.banner .col-md-12 {
	/*min-height: calc(100vw * 265 / 750);*/
	position: relative;
}
section.banner .ex-photo {
	background: transparent center center no-repeat;
	background-size: cover;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: 0;
	width: 65px;
	height: 65px;
}
section.banner .intro {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 80px;
}
section.banner p.discription,
section.banner p.name,
section.banner p.title {
	display: block;
}
section.banner p.discription {
	color: #fff;
	font-size: 14px;
	line-height: 1.4em;
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}
section.banner p.discription:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/icon_comment.png) no-repeat 50% 50%;
	background-size: 100% auto;
	vertical-align: top;
	margin-right: 6px;
}
section.banner p.name {
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 10px;
}
section.banner button.follow {
	border: 2px #fff solid;
	color: #fff;
	background: transparent;
	font-size: 15px;
	line-height: 1.4em;
	padding: 0 14px;
	height: 30px;
	border-radius: 6px;
	margin-left: 10px;
	outline: none;
}
section.banner button.follow.f-ed {
	border: none;
	background: #fff;
	color: #fb8f2d;
	opacity: 0.7;
}
section.banner button.follow i {
	margin-right: 6px;
}
section.banner p.title {
	color: #fef8c2;
	font-size: 12px;
	line-height: 1.4em;
	margin-bottom: 0;
}
section.banner .to-cost {
	background: #000533;
	border: solid #2d7ecf;
	border-radius: 6px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	line-height: 1.4em;
	padding: 5px 1px;
	width: 100%;
	font-family: Microsoft JhengHei;
}

@media (max-width: 500px) {
	.dashboard-bg {
		background-size: 452% 220%;
	}
	section.banner .ex-photo {
		left: 0;
		top: 0;
	}
	section.banner .intro {
		margin-top: -157px;
		padding-left: 87px;
	}
}


@media (min-width: 768px) {
	section.banner .ex-photo {
		height: 120px;
		width: 120px;
	}
	section.banner .col-md-12 {
		min-height: 0;
	}
	section.banner .container {
	}
	section.banner .intro {
		padding-left: 140px;
		min-height: 120px;
	}
	section.banner p.name {
		margin-bottom: 5px;
	}
	section.banner p.title {
	}
}
@media (min-width: 992px){
	section.banner {
		padding-bottom: 80px;
	}
	section.banner:before {
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		background: url(../images/expert_top_dec_coins.png) no-repeat 50% 50%;
		background-size: 1260px auto;
	}
	section.banner:after {
		position: absolute;
		left: 0; right: 0; bottom: 0;
		content: '';
		display: block;
		width: 100%;
		height: 80px;
		background: url(../images/expert_top_mask_w.png) repeat-x 50% 50%;
		background-size: auto 80px;
		background-position: 43% 50%;
	}
	section.banner .ex-photo {
		position: absolute;
		top: calc(50% + 146px);
		left: 26px;
		-webkit-transform: translate(0%,-50%);
		transform:         translate(0%,-50%);
		height: 120px;
		width: 120px;
		border: solid 5px #091f51;
	}
	section.banner p.discription {
		height: 1.4em;
	}
	section.banner .intro {
		padding-left: 0px;
		top: -50px;
		min-height: initial;
	}
	section.banner .to-cost {
		width: auto;
		position: relative;
		right: -762px;
		bottom: 55px;
		font-size:  20px;
		padding: 6px 20px;
		margin: 0 7px 0;
	}
	section.banner .to-cost:hover {
		color: #7bdf31;
	}
}
@media (min-width: 1200px){
	section.banner:after {
		background-position: 50% 50%;
	}
}
/* =========================================
   section: analysis 
============================================ */
section.analysis {
	position: relative;
	padding-top: 20px;
}
section.analysis:before {
	position: absolute;
	top: 0px; left: 0px; right: 0px;
	content: '';
	width: 100%;
	height: 15px;
	background: url(../images/m_shadow.png) no-repeat 50% 50%;
	background-size: 100% 100%;
}

section.analysis .mouthlyBox {
	position: relative;
	margin-bottom: 20px;
}
section.analysis .mouthlyBox:after {
	position: absolute;
	bottom: -15px; left: 0px; right: 0px;
	content: '';
	width: 100%;
	height: 15px;
	background: url(../images/m_shadow.png) no-repeat 50% 50%;
	background-size: 100% 100%;
}
section.analysis .mouthlyBox ul {
	/*border: 1px #ccc solid;*/
	padding: 0;
	display: flex;
	align-items: stretch;
	list-style-type: none;
	box-shadow: 10px 13px 23px 4px rgba(24, 24, 49, 0.5);
}
section.analysis .mouthlyBox ul li {
	width: 25%;
	border-right: 1px #ccc solid;
}
section.analysis .mouthlyBox ul li:last-child {
	border-right: none;
}
section.analysis .mouthlyBox ul li .dur {
	height: 30px;
	background:#090b32;
	font-size: 13px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	color: #666;
}

.chart-top {
	top: -93px;
}


section.analysis .mouthlyBox ul li:first-child .dur {
	background: #090b32;
	color: #fff;
}
section.analysis .mouthlyBox ul li .acc {
	padding-bottom: 8px;
}
section.analysis .mouthlyBox ul li .acc > span {
	display: block;
	text-align: center;
	line-height: 1.2em;
}
section.analysis .mouthlyBox ul li.plus .acc > span.win { color: #77dc24; }
section.analysis .mouthlyBox ul li.plus .acc > span.poi { color: #62c60f; }
section.analysis .mouthlyBox ul li.minus .acc > span.win { color: #fe2645; }
section.analysis .mouthlyBox ul li.minus .acc > span.poi { color: #dd0625; }
section.analysis .mouthlyBox ul li .acc > span.win {
	display: block;
	height: 50px;
	font-size: 40px;
	font-weight: 700;
}
section.analysis .mouthlyBox ul li.plus .acc > span.win:before {
	content: '+';
	font-size: 24px;
	display: inline-block;
	position: relative;
	top: -4px;
}
section.analysis .mouthlyBox ul li.minus .acc > span.win:before {
	content: '-';
	font-size: 24px;
	display: inline-block;
	position: relative;
	top: -6px;
}
section.analysis .mouthlyBox ul li.zero .acc > span.win{
}
section.analysis .mouthlyBox ul li .acc > span.poi {
	display: block;
	height: 1.4em;
	font-size: 13px;
	padding-left: .5em;
}
section.analysis .mouthlyBox ul li .acc > span.poi:after {
	content: '點';
	display: inline-block;
	font-size: 13px;
	margin-left: 4px;
}
section.analysis .overallBox {
}
section.analysis .overallBox ul {
	padding: 0;
	display: flex;
	align-items: stretch;
	list-style-type: none;
}
section.analysis .overallBox ul li {
	width: 47%;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #888;
	font-size: 13px;
	white-space: nowrap;
}
section.analysis .overallBox ul li:first-child {
	width: 53%;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;
}
section.analysis .overallBox ul li .box {
	width: 100%;
	display: flex;
	align-items: center;

}
section.analysis .overallBox ul li .box.bg-g {
	padding: 2px 6px;
	background: #e8f7db;
	margin-bottom: 4px;
}
section.analysis .overallBox ul li .box.bg-r {
	padding: 2px 6px;
	background: #ffe9ec;
}
section.analysis .overallBox ul li .box .ttl {
}
section.analysis .overallBox ul li .box .acc {
}
section.analysis .overallBox ul li:first-child .acc {
	font-size: 19px;
	font-weight: 700;
	padding: 8px 0;
}
section.analysis .overallBox ul li .box .ttl {
	width: 100%;
}
section.analysis .overallBox ul li .box .acc,
section.analysis .overallBox ul li .box .acc {
	max-width: 5em;
	text-align: right;
}
section.analysis .overallBox ul li.minus .acc { color: #fe2645; }
section.analysis .overallBox ul li.plus .acc { color: #77dc24; }

section.analysis .overallBox ul li .acc > span.num {
	font-size: 20px;
}
section.analysis .overallBox ul li:first-child .acc > span.num {
	font-size: 30px;
	display: inline-block;
	padding: 0 2px;
}
section.analysis .alsChartBox .ttl {
	position: relative;
	font-size: 14px;
	color: #fff;
	padding-bottom: 8px;
	font-size: 700;
	padding-left: 10px;
}
section.analysis .alsChartBox .ttl:after {
	position: absolute;
	left: 0; top: 8px;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: #444444 transparent transparent transparent;
}

@media (min-width: 768px) {
	section.analysis .mouthlyBox ul li .dur {
		font-size: 14px;
		letter-spacing: 1px;
	}
	section.analysis .mouthlyBox ul li .acc > span.win {
		height: 80px;
		font-size: 70px;
	}
	section.analysis .mouthlyBox ul li.zero .acc > span.win {
		font-size: 70px;
	}
	section.analysis .mouthlyBox ul li.plus .acc > span.win:before {
		font-size: 40px;
		top: -10px;
	}
	section.analysis .mouthlyBox ul li.minus .acc > span.win:before {
		font-size: 40px;
		top: -14px;
	}
	section.analysis .mouthlyBox ul li .acc > span.poi {
		font-size: 18px;
	}
	section.analysis .mouthlyBox ul li .acc > span.poi:after {
		font-size: 16px;
	}
}
@media (min-width: 992px){
	section.analysis .overallBox ul {
		flex-direction: column;
	}
	section.analysis .overallBox ul li:first-child,
	section.analysis .overallBox ul li { width: 100%; }
	section.analysis:before { display: none; }
	section.analysis .mouthlyBox {
		position: relative;
		padding: 0 24px;
	}
	section.analysis .mouthlyBox:after {
		left: 24px; right: 24px;
		width: calc(100% - 48px);
	}
	section.analysis .mouthlyBox,
	section.analysis .overallBox {
		margin-top: -40px;
		top: -92px;
	}
	section.analysis .overallBox {
		position: relative;
		padding-left: 30px;
	}
	section.analysis .overallBox:after {
		position: absolute;
		left: 0; top: 0; bottom: 0;
		content: '';
		width: 1px;
		height: 100%;
		border-left: 1px dotted #ccc;
	}
	section.analysis .alsChartBox .ttl {
		font-size: 20px;
		padding-left: 20px;
		padding-bottom: 22px;
	}
	section.analysis .alsChartBox .ttl:after {
		border-width: 10px 7px 0 7px;
	}
	section.analysis .overallBox ul li:first-child .acc {
		font-size: 22px;
	}
}
/* =========================================
   section: content 
============================================ */
section.content {
	background: #000;
	margin-top: 25px;
	padding-bottom: 40px;
}
section.content h2 {
	color: #ff9336;
	font-size: 15px;
	margin: 25px 0 10px;
}
section.content h2:before {
	background: transparent url(../images/icon_coin_og.png) center center no-repeat;
	background-size: 15px;
	content: "";
	display: inline-block;
	height: 15px;
	margin: 0 5px 0 0;
	vertical-align: middle;
	width: 15px;
}
section.content h2.history {
	color: #64c311;
	margin-top: 97px;
}
section.content h2.history:before {
	background-image:url(../images/icon_coin_gn.png);
	-webkit-transform: rotate(45deg);
	transform:         rotate(45deg);
}
section.content h2.today {
	position: relative;
	margin-top: 97px;
}
section.content h2.today:after {
	background: transparent url(../images/icon_coins2.png) center center no-repeat;
	background-size: 25px;
	bottom: -10px;
	content: "";
	height: 13px;
	left: auto;
	position: absolute;
	right: -10px;
	top: auto;
	width: 25px;
}
section.content .panel {
	position: relative;
	border: none;
	border-radius: 0;
	margin: 0;
	line-height: 1.4em;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-shadow: none;
	box-shadow:         none;
}
section.content .panel:first-child {
	border-radius: 5px 5px 0 0;
}
section.content .panel:last-child {
	border-radius: 0 0 5px 5px;
}
section.content .panel:after {
	position: absolute;
	left: 0; right: 0; bottom: 0px;
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: -webkit-linear-gradient(left, #eeeeee 0%, #cccccc 20%, #cccccc 80%, #eeeeee 100%);
	background:         linear-gradient(to right, #eeeeee 0%, #cccccc 20%, #cccccc 80%, #eeeeee 100%);
}
section.content .panel:last-child:after { display: none; }
section.content .list-content {
}
section.content .thead {
	display: none;
}
section.content .panel .date {
	font-size: 13px;
	line-height: 1.5em;
	color: #666;
	width: 14%;
	white-space: nowrap;
	text-align: left;
	margin-bottom: 8px;
	display: flex;
	align-items: center;

}
section.content .panel .games {
	width: 86%;
	margin-bottom: 8px;
}
section.content .panel .games .subttl {
	position: absolute;
	top: 15px; left: 0;
	border: 1px #aaa solid;
	font-size: 12px;
	line-height: 20px;
	padding: 0 6px;
	color: #888;
}
section.content .panel .games .title {
	display: flex;
	align-items: center;
	align-content: stretch;
	min-height: 2.8em;
	font-size: 14px;
	line-height: 1.3em;
	color: #fff;
	text-align: center;
}
section.content .panel .games .title span { display: block; }
section.content .panel .games .title span.tm {
	width: 50%;
}
section.content .panel .games .title span.tm > em {
	font-style: normal;
	background-color: #000000;
	display: inline-block;
	color: #ff9336;
	font-size: 13px;
	line-height: 20px;
	padding: 2px 4px;
	margin-left: 4px;
}
section.content .panel .games .title span.scr {
	color: #62c60f;
	font-weight: 700;
	padding: 0 6px;
}
section.content .panel .games .title span.vs {
	padding: 0 6px;
}
section.content .panel .choice {
	width: 65%;
}
section.content .panel .result {
	width: 35%;
}
section.content #history,
section.content #today {
	position: relative;
	z-index: 2;
}
section.content #history:before,
section.content #today:before {
	border-radius: 5px 5px 0 0;
	content: "";
	display: block;
	height: 5px;
	left: 0;
	position: absolute;
	right: 0;
	top: -4px;
	z-index: -1;
}
section.content #history:before {
	background: linear-gradient(to right, #82eb2c, #34ede2);
}
section.content #history .panel {
	overflow: hidden;
	padding: 42px 0 15px 0;
	margin: 0 10px;
}
section.content #history .panel .choice,
section.content #history .panel .result {
	text-align: center;
	font-size: 13px;
	color: #888;
}
section.content #history .panel .choice .th,
section.content #history .panel .result .th {
	background: #666;
	color: #fff;
	padding: 2px 0;
}
section.content #history .panel .choice {
	border: 2px #666 solid;
	border-right: none;
}
section.content #history .panel .result {
	border: 2px #666 solid;
}
section.content #history .panel.minus .result .th { background-color: #ff6000; }
section.content #history .panel.plus .result .th { background-color: #62c60f; }
section.content #history .panel.minus .result { border-color: #ff6000; }
section.content #history .panel.plus .result { border-color: #62c60f; }

section.content #history .panel .choice .content,
section.content #history .panel .result .content {
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
section.content #history .panel.minus .result .content { color: #ff6000; }
section.content #history .panel.plus .result .content { color: #62c60f; }
section.content #history .panel.minus .result .content > span.txt:before { content: '-'; }
section.content #history .panel.plus .result .content > span.txt:before { content: '+'; }

section.content #history .panel .choice .content > span.txt,
section.content #history .panel .result .content > span.txt {
	position: relative;
	width: 100%;
}
section.content #history .panel .choice .content > span.poi {
	position: relative;
}
section.content #history .panel .choice .content > span.poi:before {
	content: '虛擬投注';
	display: inline-block;
	padding-right: 12px;
}
section.content #history .panel .choice .content > span.poi:after {
	position: absolute;
	left: calc(4em + 4px); top: 50%;
	-webkit-transform: translateY(-50%);
	transform:         translateY(-50%);
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 5px;
	border-color: transparent transparent transparent #888;
}
section.content #history .panel .choice .content span.txt { font-size: 14px; color: #444;}
section.content #history .panel .result .content span.txt { font-size: 16px; }

section.content #history .more {
	background: linear-gradient(to bottom, transparent, rgba(0, 196, 255, 0.2));
	padding: 0;
	border-radius: 0 0 5px 5px;
	margin-top: 10px;
}
section.content #history .more a {
	color: #61c70c;
	display: block;
	padding: 15px 15px 25px;
	position: relative;
}
section.content #history .more a:after {
	bottom: -5px;
	content: "﹀";
	font-size: 20px;
	left: 0;
	opacity: .5;
	position: absolute;
	right: 0;
	text-align: center;
}
section.content #today .panel {
	overflow: hidden;
	padding: 42px 0 0 0;
	margin: 0 10px;
}
section.content #today .panel .betpoi {
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	color: #888;
}
section.content #today .panel .betpoi > span.poi {
	position: absolute;
	right: 0; top: 15px;
}
section.content #today .panel .betpoi > span.poi:before {
	content: '虛擬投注';
	display: inline-block;
	padding-right: 12px;
}
section.content #today .panel .betpoi > span.poi:after {
	position: absolute;
	left: calc(4em + 4px); top: 50%;
	-webkit-transform: translateY(-50%);
	transform:         translateY(-50%);
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 5px;
	border-color: transparent transparent transparent #888;
}
section.content #today:before {
	background: linear-gradient(to right, #ffe348, #ff8c37);
}
section.content #today:after {
	background: transparent url(../images/icon_cat.png) center center no-repeat;
	background-size: 100%;
	bottom: auto;
	content: "";
	height: 150px;
	left: auto;
	position: absolute;
	right: 20px;
	top:-133px;
	width: 136px;

}
section.content #today .panel .choice {
	width: 70px;
}
section.content #today .panel .games .title {
	padding-right: 10px;
}
section.content #today .list-content {
	padding-bottom: 20px;
}
section.content .panel-heading {
	width: 100%;
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0 0 15px 0;
	line-height: 1.4em;
	display: flex;
	flex-wrap: nowrap;
}
section.content .panel-heading .btn {
	background: #62c60e;
	border: none;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	line-height: 50px;
	padding: 0;
	width: 70px;
}
section.content .panel-heading .btn > i { margin-right: 4px; }
section.content .panel-heading .btn-cost {
	position: relative;
	background: #ff9336;
	font-size: 12px;
	line-height: 110%;
	padding: 8px 5px;
	text-align: left;
}
section.content .panel-heading .btn-cost:before {
	content: "推薦";
}
section.content .panel-heading .btn-cost:after {
	position: absolute;
	left: calc(2em + 10px); top: 11px;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: #fff transparent transparent transparent;
}
section.content .panel-heading .choice span {
	display: block;
	font-size: 14px;
	margin-top: 5px;
	padding-left: 20px;
	position: relative;
	text-align: right;
}
section.content .panel-heading .choice span:after {
	bottom: 0px;
	content: "\f023";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	/*font-family: "Lato","Noto Sans TC",sans-serif;*/
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	left: 0;
	position: absolute;
	text-rendering: auto;
}
section.content .panel-heading .choice span:before {
	bottom: 0px;
	content: "$";
	display: inline-block;
	font-size: 12px;
	left: 10px;
	position: absolute;
}
section.content .panel-collapse { width: 100%; }
section.content .panel-body {
	background: #f3ffe6;
	border-bottom: #63c90e 1px solid;
	position: relative;
	padding-bottom: 35px;
}
section.content .panel-body:before {
	background: #f3ffe6;
	border: transparent 1px solid;
	border-left-color: #ddd;
	border-top-color: #ddd;
	content: "";
	height: 10px;
	position: absolute;
	right: 30px; top: -5px;
	-webkit-transform: rotate(45deg);
	transform:         rotate(45deg);
	width: 10px;
}
section.content .panel-body span.odds {
	font-size: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
}
section.content .panel-body h3 {
	color: #63c90e;
	font-size: 15px;
	font-weight: 600;
	line-height: 110%;
	margin: 5px 0 10px;
}
section.content .panel-body p {
	color: #444;
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	text-justify: inter-ideograph;
}
section.content .panel-group {
	background: #000;
	border: none;
	border-radius: 5px;
	padding: 0;
	margin: 0;
}
section.content .panel-group > div { padding: 0; }
section.content .panel-group .accumulation {
    position: absolute;
    right: 0; top: -30px;
    padding: 0 10px 10px 10px;
    background-color: #1de7bf;
    border-radius: 0px 3px 0px 0px;
    font-size: 14px;
    color: #fff;
    height: 30px;
    font-weight: 700;
    line-height: 26px;
}
section.content .panel-group .accumulation:after {
    position: absolute;
    left: -20px; top: 0px;
    content: '';
    width: 20px;
    height: 30px;
    background: url(../images/lebel_pt_lt.png) no-repeat 0% 0%;
    background-size: 100% 100%;
}
@media (min-width: 992px) and (max-width: 1024px) {
    section.banner .to-cost {
        right: -542px;
        bottom: 78px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .dashboard-bg {
        background-size: 130% 75%;
        background-position: 50% -5%;
    }
    section.analysis {
        top: -38px;
    }
    section.banner .intro {
        padding-left: 57px;
        min-height: 120px;
        top: -78px;
    }
    section.banner .ex-photo {
        height: 86px;
        width: 86px;
        top: 120px;
        left: 60px;
    }
    section.banner .to-cost {
        width: 20%;
        margin-top: 70px;
    }
    section.analysis .mouthlyBox ul{
        box-shadow: 10px 13px 23px 4px rgba(0, 0, 0, 0.5);
    }
    section.analysis .mouthlyBox{
        width: 500px;
        margin-left: 100px;
    }
    .ml-3 {
    margin-left: 200px;
    }

    .chart-top {
        top: 250px;
    }

    section.content {
        margin-top: 145px;
    }

    section.analysis .overallBox ul li:first-child {
        width: 35%;
        margin-left: 70px;
    }

}

@media (min-width: 992px){
	section.content .list-content {
		padding-bottom: 40px;
		margin-left: 20px;
		margin-right: 20px;
	}
	section.content #history .list-content {
		
	}
	section.content .thead {
		display: block;
		margin: 0 10px;
		display: flex;
		align-items: center;
		align-content: center;
		font-size: 14px;
		color: #444;
		padding: 15px 0 5px 0;
		border-bottom: 1px #444 solid;
	}
	section.content .panel {
		flex-wrap: nowrap;
	}
	section.content .panel .games .subttl {
		position: relative;
		top: initial;
		border: none;
		padding: 0;
		line-height: 1.4em;
	}
	section.content .panel .date > span { width: 100%; }
	section.content .panel .date,
	section.content .panel .games {
		margin-bottom: 0;
	}
	section.content .panel .games {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	section.content .panel .games .title {
		text-align: left;
		font-size: 14px;
		min-height: auto;
	}
	section.content .panel .games .title span.scr {
		padding: 0 10px;
	}
	section.content .panel .games .title span {
		display: inline-block;
	}
	section.content .panel .games .title span.tm {
		width: auto;
		color: #fff;
	}
	section.content #history .thead .date,
	section.content #history .panel .date { text-align: center; width: 6%; }
	section.content #history .thead .games,
	section.content #history .panel .games { width: 58%; }
	section.content #history .thead .choice,
	section.content #history .panel .choice { text-align: center; width: 23%; }
	section.content #history .thead .result,
	section.content #history .panel .result { text-align: center; width: 13%; }

	section.content #history .panel .choice .th,
	section.content #history .panel .result .th {
		display: none;
	}
	section.content #history .panel .choice,
	section.content #history .panel .result {
		border: none;
	}
	section.content #history .panel {
		position: relative;
		padding: 10px 0;
		margin: 0 10px;
	}
	section.content #history .more {
		margin: 0 10px;
	}
	section.content #history .more:hover {
		background: linear-gradient(to bottom, transparent, rgba(119,220,36,.4));
	}
	section.content #history .more a:after {
		-webkit-transition: bottom .2s ease;
		transition:         bottom .2s ease;
	}
	section.content #history .more:hover a:after {
		bottom: -10px;
	}
	section.content #today .panel {
		flex-wrap: wrap;
	}
	section.content #today .thead .date,
	section.content #today .panel .date { text-align: center; width: 6%; }
	section.content #today .thead .games,
	section.content #today .panel .games { width: 66%; }
	section.content #today .thead .betpoi,
	section.content #today .panel .betpoi { text-align: center; width: 14%; }
	section.content #today .thead .choice,
	section.content #today .panel .choice { text-align: center; width: 14%; }

	section.content #today .panel .games .title {
		font-size: 16px;
		color: #444;
	}
	section.content #today .panel { padding-top: 10px; }
	section.content #today .panel .choice,
	section.content #today .panel .betpoi {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		color: #444;
	}
	section.content #today .panel .betpoi > span.poi {
		position: relative;
		top: initial;
	}
	section.content #today .panel .betpoi > span.poi:before,
	section.content #today .panel .betpoi > span.poi:after { display: none; }

	section.content .panel-body:before { right: 6.5%; }
	section.content .panel-heading { padding-bottom: 10px; }
	section.content .panel-heading .btn {
		background: transparent;
		padding: 0;
		border-radius: 0px;
		color: #62c60e;
		font-size: 16px;
		line-height: 120%;
		top: auto;
		width: auto;
	}
	section.content .panel-heading .btn:hover {
		color: #325014;
	}
	section.content .panel-heading .btn-cost {
		color: #ff9336;
	}
	section.content .panel-heading .btn-cost:before,
	section.content .panel-heading .btn-cost:after { display: none; }

	section.content .panel-heading .btn-cost:hover {
		color: #ff6100;
	}
	section.content .panel-heading .choice span {
		display: inline-block;
		font-size: 16px;
		width: auto;
		padding-left: 30px;
	}
	section.content .panel-heading .choice span:before {
		font-size: 14px;
	}
	section.content .panel-heading .btn > i { margin-right: 4px; }
	section.content .panel-heading .btn > i,
	section.content .panel-heading .choice span:after {
		font-size: 20px;
	}
	section.content .panel-heading .choice span:before {
		left: 15px;
	}
}
@media (min-width: 1200px){
	section.content .panel .games .title {
		font-size: 16px;
		line-height: 1.6em;
	}
}
/* =========================================
   section: cost 
============================================ */
section.cost {
	padding: 35px 0 25px;
}
section.cost h2 {
	color: #444;
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 30px;
	padding: 0;
}
section.cost .plans-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.cost .panel {
	width: 50%;
	max-width: 250px;
	margin: 0 10px;
	background: linear-gradient(to top, #676767, #000);
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
	color: #666;
	font-size: 12px;
	font-weight: 600;
	line-height: 100%;
	padding: 15px;
	position: relative;
	text-align: center;
}
section.cost .panel:before {
	/*background: linear-gradient(to right, #ffe348, #ff8c37);*/
	border-radius: 5px;
	content: "";
	display: block;
	height: 10px;
	left: 0;
	position: absolute;
	right: 0;
	top: -4px;
	z-index: -1;
}
section.cost .panel a {
	background: #0065ff;
	border-radius: 10px;
	color: #fff;
	display: block;
	font-size: 16px;
	line-height: 30px;
}
section.cost span {
	background: transparent url(../images/icon_coin_ogb.png) left center no-repeat;
	background-size: 15px;
	color: #ff6000;
	display: block;
	font-size: 24px;
	line-height: 30px;
	margin: 5px 0 10px;
	padding-left: 20px;
	text-align: right;
	white-space: nowrap;
}
section.cost span:before {
	content: "$";
	font-size: 14px;
	display: inline-block;
	position: relative;
	top: -4px;
	margin-right: 4px;
}
@media (min-width: 768px) {
	section.cost .panel {
		font-size: 16px;
	}
	section.cost .panel a {
	    font-size: 24px;
	    line-height: 45px;
	}
	section.cost span {
	    background-size: 20px;
	    font-size: 36px;
	    line-height: 40px;
	    margin: 10px 0 15px;
	}
	section.cost span:before{
		font-size: 24px;
	}
}
@media (min-width: 992px){
	section.cost {
		padding-bottom: 0;
	}
	section.cost .panel a:hover {
		background: #ff6100;
	}
}

@media (max-width: 500px) {
    section.cost .panel {
        width: 40%;
        margin: 9px 10px;
        color: #eaeaea;
        font-size: 15px;
    }
    .chart-top {
        top: 5px;
    }
    section.analysis .mouthlyBox ul li .dur {
        line-height: 15px;
    }
    .dashboard-bg {
        background-image: none;
    }

    section.banner .to-cost {
        border: solid 1px #464646;
        background: #5a5a5a;
        width: 31%;
        margin: 4px 1px;
    }

}