@charset "UTF-8";
section.fliter-menu .container {
    width: 100%;
    position: relative;
    padding: 0
}

section.fliter-menu ul.fil-1st {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none
}

section.fliter-menu ul.fil-1st li.current {
    color: #fff;
    background: -webkit-linear-gradient(left, #ffb600,#380b60);
    background: linear-gradient(to left, #ffb600,#380b60);
}

section.fliter-menu ul.fil-1st li.item .icon {
    width: 100%;
    height: 20px;
    margin-top: 2px;
    margin-bottom: 4px
}

section.fliter-menu ul.fil-1st li.item .icon > span {
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% auto !important
}

section.fliter-menu ul.fil-1st li.item .icon > span:after {
    content: '';
    display: block;
    padding-bottom: 100%
}

section.fliter-menu ul.fil-1st li.al .icon > span {
    background-image: url(../images/filter/filter_mu_icon_al_g.png)
}

section.fliter-menu ul.fil-1st li.bk .icon > span {
    background-image: url(../images/filter/filter_mu_icon_bk_g.png)
}

section.fliter-menu ul.fil-1st li.bs .icon > span {
    background-image: url(../images/filter/filter_mu_icon_bs_g.png)
}

section.fliter-menu ul.fil-1st li.pk .icon > span {
    background-image: url(../images/filter/filter_mu_icon_pk_g.png)
}

section.fliter-menu ul.fil-1st li.fb .icon > span {
    background-image: url(../images/filter/filter_mu_icon_fb_g.png)
}

section.fliter-menu ul.fil-1st li.rb .icon > span {
    background-image: url(../images/filter/filter_mu_icon_rb_g.png)
}

section.fliter-menu ul.fil-1st li.current.al .icon > span {
    background-image: url(../images/filter/filter_mu_icon_al_w.png)
}

section.fliter-menu ul.fil-1st li.current.bk .icon > span {
    background-image: url(../images/filter/filter_mu_icon_bk_w.png)
}

section.fliter-menu ul.fil-1st li.current.bs .icon > span {
    background-image: url(../images/filter/filter_mu_icon_bs_w.png)
}

section.fliter-menu ul.fil-1st li.current.pk .icon > span {
    background-image: url(../images/filter/filter_mu_icon_pk_w.png)
}

section.fliter-menu ul.fil-1st li.current.fb .icon > span {
    background-image: url(../images/filter/filter_mu_icon_fb_w.png)
}

section.fliter-menu ul.fil-1st li.current.rb .icon > span {
    background-image: url(../images/filter/filter_mu_icon_rb_w.png)
}

@media (max-width: 991px) {

    section.content.bg1{
        background-image: none;
    }

    section.fliter-menu {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        z-index: 99;
        -webkit-tap-highlight-color: transparent
    }

    section.fliter-menu ul.fil-1st li.item {
        position: relative;
        height: 50px;
        font-size: 11px;
        line-height: 1em;
        /*color: #444;*/
        text-align: center;
        float: left;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #1b2365;
    }

    section.fliter-menu ul.fil-1st li.current {
        color: #fff;
        background: -webkit-linear-gradient(left, #f9811a, #fe2645);
        background: linear-gradient(to left, #f9811a, #fe2645)
    }

    section.fliter-menu ul.fil-1st li.item:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        /*background: #f6f6f6*/
    }

    section.fliter-menu ul.fil-1st li.current:after {
        background: #e0203b
    }

    section.content .m-filter-sub {
        position: relative;
        margin-bottom: 12px
    }

    section.content .m-filter-sub:after {
        position: absolute;
        bottom: -13px;
        left: 0;
        right: 0;
        content: '';
        width: 100%;
        height: 13px;
        background: url(../images/filter/m_filter_shadow.png) no-repeat 50% 50%;
        background-size: 100% 100%
    }

    section.content .m-filter-sub .fil-2nd {
        position: relative;
        height: 44px;
        background: -webkit-linear-gradient(left, #ff6000, #fe2645);
        background: linear-gradient(to left, #ff6000, #fe2645)
    }

    section.content .m-filter-sub .fil-2nd, section.content .m-filter-sub .fil-3rd {
        padding-left: 10px;
        padding-right: 30px;
        cursor: pointer
    }

    section.content .m-filter-sub .fil-2nd .txtbox:after, section.content .m-filter-sub .fil-3rd .txtbox:after {
        position: absolute;
        right: -20px;
        top: 50%;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0;
        border-color: #fff transparent transparent transparent
    }

    section.content .m-filter-sub .fil-3rd .txtbox:after {
        border-color: #ff6000 transparent transparent transparent
    }

    section.content .m-filter-sub .fil-2nd .txtbox, section.content .m-filter-sub .fil-3rd .txtbox {
        position: relative;
        padding-left: 12px;
        width: 100%;
        height: 44px;
        display: flex;
        align-items: center
    }

    section.content .m-filter-sub .fil-2nd .txtbox span.txt {
        display: block;
        width: 100%;
        font-size: 16px;
        color: #fff
    }

    section.content .m-filter-sub .fil-2nd .txtbox span.amo {
        display: block;
        font-size: 12px;
        height: 1.8em;
        padding: 0 5px;
        border-radius: .9em;
        color: #9d3d03;
        background: #ffe7d9
    }

    section.content .m-filter-sub .fil-3rd .txtbox span.txt {
        display: block;
        width: 100%;
        font-size: 14px;
        color: #ff6000
    }

    section.content .m-filter-sub .fil-3rd .txtbox span.amo {
        display: block;
        font-size: 12px;
        height: 1.8em;
        padding: 0 5px;
        border-radius: .9em;
        color: #ff6000;
        background: #fff
    }

    section.content .m-filter-sub.multi {
        display: flex;
        align-items: center
    }

    section.content .m-filter-sub.multi .fil-2nd {
        width: 58%
    }

    section.content .m-filter-sub.multi .fil-2nd:after {
        position: absolute;
        right: -10px;
        top: 0;
        bottom: 0;
        content: '';
        display: block;
        width: 10px;
        height: 44px;
        background: url(../images/filter/filter_sub_arrow_r.png) no-repeat 50% 50%;
        background-size: 100% 100%
    }

    section.content .m-filter-sub.multi .fil-3rd {
        width: 42%;
        height: 44px;
        background: #ffba8f;
        background: -webkit-linear-gradient(left, #ffba8f 0%, #ffe1cf 20%, #ffe1cf 100%);
        background: linear-gradient(to right, #ffba8f 0%, #ffe1cf 20%, #ffe1cf 100%)
    }

    .md-fil-sub .modal-dialog {
        width: 58%;
        margin: 30px auto;
        border-radius: 6px;
        overflow: hidden
    }

    .md-fil-sub .modal-body {
        padding: 0
    }

    .md-fil-sub .modal-title {
        padding: 0 15px;
        height: 55px;
        font-size: 14px;
        border-radius: 6px 6px 0 0;
        margin-top: -2px;
        display: flex;
        align-items: center
    }

    .md-fil-sub.fil-2nd .modal-title {
        color: #fff;
        background: -webkit-linear-gradient(left, #ff6000, #fe2645);
        background: linear-gradient(to left, #ff6000, #fe2645)
    }

    .md-fil-sub.fil-3rd .modal-title {
        color: #fff;
        background: -webkit-linear-gradient(left, #ffe1cf, #ff6000);
        background: linear-gradient(to left, #ffe1cf, #ff6000)
    }

    .md-fil-sub ul {
        list-style-type: none;
        padding: 0;
        margin: 0
    }

    .md-fil-sub .container {
        padding: 0
    }

    .md-fil-sub ul li {
        position: relative;
        height: 50px;
        display: flex;
        align-items: center
    }

    .md-fil-sub.fil-2nd ul li {
        background: #f1f1f1
    }

    .md-fil-sub.fil-3rd ul li {
        background: #f1f1f1
    }

    .md-fil-sub ul li:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: -webkit-linear-gradient(left, #eeeeee 0%, #cccccc 20%, #cccccc 80%, #eeeeee 100%);
        background: linear-gradient(to right, #eeeeee 0%, #cccccc 20%, #cccccc 80%, #eeeeee 100%)
    }

    .md-fil-sub ul li .main {
        width: 100%;
        padding: 0 15px
    }

    .md-fil-sub ul li .txtbox {
        width: 100%;
        display: flex;
        align-items: center
    }

    .md-fil-sub ul li .txtbox span.txt {
        width: 100%;
        font-size: 16px
    }

    .md-fil-sub ul li .txtbox span.amo {
        padding: 0 5px;
        text-align: center;
        font-size: 12px;
        border-radius: 1em
    }

    .md-fil-sub.fil-2nd ul li .txtbox span.txt {
        color: #222
    }

    .md-fil-sub.fil-2nd ul li .txtbox span.amo {
        color: #888;
        background: #fff
    }

    .md-fil-sub.fil-3rd ul li .txtbox span.txt {
        color: #222
    }

    .md-fil-sub.fil-3rd ul li .txtbox span.amo {
        color: #888;
        background: #fff
    }

    .md-fil-sub .container .btn-main {
        padding: 15px 15px 25px
    }

    .md-fil-sub .container .btn-main .btn {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        margin: 0 auto
    }

    .md-fil-sub.fil-2nd .container .btn-main .btn {
        background: #cf1c35
    }

    .md-fil-sub.fil-3rd .container .btn-main .btn {
        background: #ff6000
    }

    .md-fil-sub.fil-2nd .container .btn-main .btn:active {
        background: #b20019
    }

    .md-fil-sub.fil-3rd .container .btn-main .btn:active {
        background: #f33900
    }

    .md-fil-sub ul li, .md-fil-sub ul li.current .txtbox, .md-fil-sub ul li .txtbox span.txt, .md-fil-sub ul li .txtbox span.amo {
        -webkit-transition: all .3s ease;
        transition: all .3s ease
    }

    .md-fil-sub ul li.current {
        background: #fff
    }

    .md-fil-sub ul li .txtbox {
        opacity: .7
    }

    .md-fil-sub ul li.current .txtbox {
        opacity: 1
    }

    .md-fil-sub.fil-2nd ul li.current .txtbox span.txt {
        color: #ff6000
    }

    .md-fil-sub.fil-2nd ul li.current .txtbox span.amo {
        background: #ffe7d9;
        color: #9d3d03
    }

    .md-fil-sub.fil-3rd ul li.current .txtbox span.txt {
        color: #ff6000
    }

    .md-fil-sub.fil-3rd ul li.current .txtbox span.amo {
        background: #fff;
        color: #ff6000
    }
}

@media (min-width: 992px) {
    section.fliter-menu {
        background: #00011b;
    }

    section.fliter-menu {
        padding: 10px 0 25px
    }

    section.fliter-menu ul.fil-1st {
        display: flex;
        align-items: center;
        justify-content: center
    }

    section.fliter-menu ul.fil-1st li.item {
        display: inline-block;
        height: 40px;
        padding: 6px 24px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        opacity: .8;
        cursor: pointer;
        transition: all .3s ease
    }

    section.fliter-menu ul.fil-1st li.item:hover {
        opacity: 1
    }

    section.fliter-menu ul.fil-1st li.current {
        opacity: 1
    }

    section.fliter-menu ul.fil-1st li.item .icon, section.fliter-menu ul.fil-1st li.item .txt {
        display: inline-block;
        height: auto;
        width: auto
    }

    section.fliter-menu ul.fil-1st li.item .icon {
        margin-right: 6px;
        margin-bottom: 0
    }

    section.content .filter-sub ul {
        list-style-type: none;
        margin: 0;
        padding: 0
    }

    section.content .filter-sub ul.fil-2nd {
        /*border: 1px #ccc solid;*/
        border-left: none
    }

    section.content .filter-sub ul.fil-2nd > li {
        cursor: pointer
    }

    section.content .filter-sub ul.fil-2nd > li > .main {
        position: relative;
        background: #f1f1f1;
        /*border-bottom: 1px #ccc solid*/
    }

    section.content .filter-sub ul.fil-2nd > li:last-child > .main {
        border-bottom: none
    }

    section.content .filter-sub ul.fil-2nd > li > .main:after {
        position: absolute;
        left: 0x;
        top: -1px;
        bottom: -1px;
        content: '';
        width: 6px;
        height: 46px;
        background: #666
    }

    section.content .filter-sub ul.fil-2nd > li > .main .txtbox {
        position: relative;
        padding: 0 8px 0 16px;
        height: 44px;
        display: flex;
        align-items: center;
        z-index: 2
    }

    section.content .filter-sub ul.fil-2nd > li > .main .active-bg {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: 0;
        width: calc(100% + 10px);
        height: 46px;
        background: -webkit-linear-gradient(left, #ff6000, #fe2645);
        background: linear-gradient(to left, #ff6000, #fe2645);
        z-index: 1
    }

    section.content .filter-sub ul.fil-2nd > li > .main .active-bg:after {
        position: absolute;
        right: -10px;
        top: 0;
        bottom: 0;
        content: '';
        display: block;
        width: 10px;
        height: 46px;
        background: url(../images/filter/filter_sub_arrow_r.png) no-repeat 50% 50%;
        background-size: 100% 100%
    }

    section.content .filter-sub ul.fil-2nd > li > .main .txtbox span.txt {
        width: 100%;
        font-size: 16px
    }

    section.content .filter-sub ul.fil-2nd > li > .main .txtbox span.amo {
        padding: 0 5px;
        text-align: center;
        font-size: 12px;
        color: #888;
        background: #fff;
        border-radius: 1em
    }

    section.content .filter-sub ul.fil-3rd {
        position: relative;
        border-left: 6px #cf1c35 solid;
        border-bottom: 1px #ccc solid;
        padding: 10px 0
    }

    section.content .filter-sub ul.fil-3rd:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: '';
        display: block;
        width: 100%;
        height: 14px;
        background: url(../images/filter/filter_sub_shadow.png) repeat-x 50% 50%
    }

    section.content .filter-sub ul.fil-3rd > li {
        cursor: pointer
    }

    section.content .filter-sub ul.fil-3rd > li > .main .txtbox {
        padding: 0 10px 0 24px;
        height: 34px;
        display: flex;
        align-items: center
    }

    section.content .filter-sub ul.fil-3rd > li > .main .txtbox span.txt {
        position: relative;
        width: 100%;
        font-size: 14px
    }

    section.content .filter-sub ul.fil-3rd > li > .main .txtbox span.amo {
        padding: 0 5px;
        text-align: center;
        font-size: 12px;
        color: #888
    }

    section.content .filter-sub ul.fil-3rd {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        -webkit-transition: max-height 0s ease;
        transition: max-height 0s ease
    }

    section.content .filter-sub li.current ul.fil-3rd {
        opacity: 1;
        max-height: 1000px;
        padding: 10px 0;
        -webkit-transition-duration: 1s;
        transition-duration: 1s
    }

    section.content .filter-sub ul.fil-2nd > li > .main, section.content .filter-sub ul.fil-2nd > li > .main .txtbox, section.content .filter-sub ul.fil-2nd > li > .main .active-bg, section.content .filter-sub ul.fil-3rd > li > .main .txtbox span {
        -webkit-transition: all .3s ease;
        transition: all .3s ease
    }

    section.content .filter-sub ul.fil-2nd > li > .main .active-bg {
        left: -10%;
        opacity: 0
    }

    section.content .filter-sub ul.fil-2nd > li.current > .main .active-bg {
        left: 0;
        opacity: 1
    }

    section.content .filter-sub ul.fil-2nd > li > .main {
        background: #00011b;
    }

    section.content .filter-sub ul.fil-2nd > li:hover > .main {
        background: #fff
    }

    section.content .filter-sub ul.fil-2nd > li > .main .txtbox {
        opacity: .7
    }

    section.content .filter-sub ul.fil-2nd > li:hover > .main .txtbox {
        opacity: 1
    }

    section.content .filter-sub ul.fil-2nd > li.current > .main .txtbox {
        opacity: 1;
        color: #fff
    }

    section.content .filter-sub ul.fil-2nd > li.current > .main .txtbox span.amo {
        background: #ffe7d9;
        color: #9d3d03
    }

    section.content .filter-sub ul.fil-3rd > li > .main .txtbox span {
        opacity: .7
    }

    section.content .filter-sub ul.fil-3rd > li:hover > .main .txtbox span {
        opacity: 1
    }

    section.content .filter-sub ul.fil-3rd > li.current > .main .txtbox span.txt, section.content .filter-sub ul.fil-3rd > li.current > .main .txtbox span.amo {
        opacity: 1;
        color: #ff6000
    }

    section.content .filter-sub ul.fil-3rd > li.current > .main .txtbox span.txt:before {
        position: absolute;
        left: -12px;
        top: 50%;
        transform: -webkit-translate(0%, -50%);
        transform: translate(0%, -50%);
        content: '';
        width: 6px;
        height: 6px;
        background: #ff6000;
        border-radius: 50%
    }
}