@charset "UTF-8";
/* CSS Document */
/*reset style start------------------------------------------------------*/
.menugroupbox span, .menugroupbox h1, .menugroupbox h2, .menugroupbox h3, .menugroupbox h4, .menugroupbox h5, .menugroupbox h6, .menugroupbox p, .menugroupbox blockquote, .menugroupbox a, .menugroupbox img, .menugroupbox strong, .menugroupbox ol, .menugroupbox ul, .menugroupbox li, .menugroupbox form, .menugroupbox label, .menugroupbox table, .menugroupbox tbody, .menugroupbox thead, .menugroupbox tr, .menugroupbox th, .menugroupbox td{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight:normal;
}
.menugroupbox ol, .menugroupbox ul, .menugroupbox li {
	list-style: none;
}
.menugroupbox :focus {
	outline: none;
}
.menugroupbox table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*reset style end---------------------------------------------------------*/
/*menugroup style start===================================================*/
.menugroupbox{
	font-size:15px;
	background:url(/images/rank_menubox_middle.jpg) repeat-y center top;
	}
.menugroupbox-top{
	background: url(/images/rank_menubox_top.jpg) no-repeat center top;
	height:24px;
	}
.menugroupbox-bottom{
	background:url(/images/rank_menubox_bottom.png) no-repeat center top;
	height:24px;
	margin-top:-10px;
	*margin-top:0px;/*IE7*/
	}
.menugroupbox-con{
	width:100%;
	margin:0 auto;
	}
.menugroupbox-con .tagsection{
	/*overflow:hidden;
	height:100%;*/
	}
.menugroupbox-con .tagsection:after{
	content:".";
	height:0;
	display:block;
	clear:both;
	visibility:hidden;
	}
.menugroupbox-con .tag-league-boxall{
	width:690px;
	border-right:1px solid #cbcbcb;
	padding-right:20px;
	float:left;
	}
.menugroupbox-con .tag-league-box{
	clear:both;
	}
.menugroupbox-con .tag-date-box{
	width:190px;
	float:right;
	}
.menugroupbox-con .tag-box{
	/*overflow:hidden;
	height:100%;*/
	*padding-bottom:10px;/*IE6+7*/
	}
.menugroupbox-con .tag-box .tag-box-first {
	overflow:hidden;
	height:100%;
	width:auto;
	float:left;
	margin-bottom:10px;
	margin-right:10px;
}
.menugroupbox-con .tag-box ol li {
	float:left;
	height:26px;
	line-height:26px;
	color:#fff;/*0117modify*/
	margin-right:10px;
	margin-bottom:10px;
}
.menugroupbox-con .tag-box ol li:last-child {
	margin-right:0;
}
.menugroupbox-con .tag-league-box ol.tag-league li, .menugroupbox-con ol.tag-date li, .datamerge-menugroupbox .tag-banker-box ol.tag-banker li{
	margin:0;
	background: url(/images/buy_predict_tag_bg_07.jpg) repeat-x left top;
}
.menugroupbox-con ol.tag-date li {
	width:174px;
	}
.menugroupbox-con .tag-league-box ol.tag-league li.fold-head, .menugroupbox-con ol.tag-date li.fold-head, .datamerge-menugroupbox .tag-banker-box ol.tag-banker li.fold-head {
	width:5px;
	background: url(/images/buy_predict_tag_bg_06.png) no-repeat left top;
}
.menugroupbox-con .tag-league-box ol.tag-league li.fold-footer, .menugroupbox-con ol.tag-date li.fold-footer, .datamerge-menugroupbox .tag-banker-box ol.tag-banker li.fold-footer{
	width:11px;
	background: url(/images/buy_predict_tag_bg_09.png) no-repeat right top;
}
.menugroupbox-con .tag-box ol.tag-con {
	width:auto;
	/*padding-left:10px;*/
	overflow:hidden;
	height:100%;
}

.menugroupbox-con .tag-date-box ol.tag-con, .datamerge-menugroupbox .tag-banker-box  ol.tag-con {
	padding-left:0;
	clear:both;
}
.menugroupbox-con .tag-box ol li a{
	display:block;
	padding:0 6px;
	text-decoration:none;
	height:24px;
	font-size:15px;
	line-height:24px;
	border:1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#000;
	overflow:hidden;
	background:#fff;
	/* Chrome 10+,Safari */
background : -webkit-linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
	/* Firefox 4+ */
background : -moz-linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
	/* Opera */
background : -o-linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
	/* IE 10+ */
background : -ms-linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
	/* W3C */
background : -linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
}
.menugroupbox-con .tag-box ol li a:link{color:#737373;}
.menugroupbox-con .tag-box ol li a:visited{color:#737373;}
.menugroupbox-con .tag-box ol li a:hover{
	color:#000;
	border:1px solid #c7ad00;
	background:#ffde00;
	/* Chrome 10+,Safari */
background : -webkit-linear-gradient(bottom, rgb(255, 237, 38) 00%, rgb(255, 210, 12) 51%, rgb(255, 237, 38) 51%, rgb(255, 255, 0) 99%);
	/* Firefox 4+ */
background : -moz-linear-gradient(bottom, rgb(255, 237, 38) 00%, rgb(255, 210, 12) 51%, rgb(255, 237, 38) 51%, rgb(255, 255, 0) 99%);
	/* Opera */
background : -o-linear-gradient(bottom, rgb(255, 237, 38) 00%, rgb(255, 210, 12) 51%, rgb(255, 237, 38) 51%, rgb(255, 255, 0) 99%);
	/* IE 10+ */
background : -ms-linear-gradient(bottom, rgb(255, 237, 38) 00%, rgb(255, 210, 12) 51%, rgb(255, 237, 38) 51%, rgb(255, 255, 0) 99%);
	/* W3C */
background : -linear-gradient(bottom, rgb(255, 237, 38) 00%, rgb(255, 210, 12) 51%, rgb(255, 237, 38) 51%, rgb(255, 255, 0) 99%);
}
.menugroupbox-con .tag-box ol li a:active{
	color:#000;
	background:#ffde00;
	border:1px solid #c7ad00;
	-moz-box-shadow:inset 0px 0px 3px 0px #7f6e00;                /* For Firefox3.6+ */
	-webkit-box-shadow:inset 0px 0px 3px 0px #7f6e00;             /* For Chrome5+, Safari5+ */
	box-shadow:inset 0px 0px 3px 0px #7f6e00;                    /* For Latest Opera */
	/* Chrome 10+,Safari */
background : -webkit-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* Firefox 4+ */
background : -moz-linear-gradientbottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* Opera */
background : -o-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* IE 10+ */
background : -ms-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* W3C */
background : -linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
}
.menugroupbox-con .tag-box ol li.tag-chosen, .menugroupbox-con .tag-box ol li.tag-chosenbig {
	height:24px;
	font-size:15px;
	line-height:24px;
	border:1px solid #c7ad00;
	color:#000;
	padding:0 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:10px;
	background:#ffde00;
	/* Chrome 10+,Safari */
background : -webkit-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* Firefox 4+ */
background : -moz-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* Opera */
background : -o-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* IE 10+ */
background : -ms-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* W3C */
background : -linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	-moz-box-shadow:inset 0px 0px 3px 0px #7f6e00;                /* For Firefox3.6+ */
	-webkit-box-shadow:inset 0px 0px 3px 0px #7f6e00;             /* For Chrome5+, Safari5+ */
	box-shadow:inset 0px 0px 3px 0px #7f6e00;                    /* For Latest Opera */
}
.menugroupbox-con .tag-box ol li.nonepredict a:link, .menugroupbox-con .tag-box ol li.nonepredict a:visited
{ color:#cbcbcb;
border:1px solid #e1e1e1;
	background:#fff;
	/* Chrome 10+,Safari */
background : -webkit-linear-gradient(bottom, rgb(251, 251, 251) 00%, rgb(245, 245, 245) 51%, rgb(251, 251, 251) 51%, rgb(254, 254, 254) 99%);
	/* Firefox 4+ */
background : -moz-linear-gradient(bottom, rgb(251, 251, 251) 00%, rgb(245, 245, 245) 51%, rgb(251, 251, 251) 51%, rgb(254, 254, 254) 99%);
	/* Opera */
background : -o-linear-gradient(bottom, rgb(251, 251, 251) 00%, rgb(245, 245, 245) 51%, rgb(251, 251, 251) 51%, rgb(254, 254, 254) 99%);
	/* IE 10+ */
background : -ms-linear-gradient(bottom, rgb(251, 251, 251) 00%, rgb(245, 245, 245) 51%, rgb(251, 251, 251) 51%, rgb(254, 254, 254) 99%);
	/* W3C */
background : -linear-gradient(bottom, rgb(251, 251, 251) 00%, rgb(245, 245, 245) 51%, rgb(251, 251, 251) 51%, rgb(254, 254, 254) 99%);
-moz-box-shadow: none;               /* For Firefox3.6+ */
	-webkit-box-shadow: none;            /* For Chrome5+, Safari5+ */
	box-shadow: none;                    /* For Latest Opera */
}
.menugroupbox-con .tag-box ol li.nonepredict a:hover, .menugroupbox-con .tag-box ol li.nonepredict a:active
{
color:#808080;
border:1px solid #e7d602;
background:#fff;
	/* Chrome 10+,Safari */
background : -webkit-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* Firefox 4+ */
background : -moz-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* Opera */
background : -o-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* IE 10+ */
background : -ms-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* W3C */
background : -linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
}

.menugroupbox-con .tag-date-box .tag-box-first, .menugroupbox-con .tag-banker-box .tag-box-first{float: none; margin-right:0;}
.menugroupbox-con .tag-date-box .tag-box-first ol li{ padding-bottom:0;}
.menugroupbox-con .tag-date-box .tag-box-last ol li{height:56px;}
.menugroupbox-con .tag-date-box .tag-box-last ol li.date-tomorrow{ margin-right:0;}
.menugroupbox-con .tag-date-box ol li a{
	display:block;
	padding:0 6px;
	text-decoration:none;
	height:56px;
	width:42px;
	border:1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#737373;
	overflow:hidden;
	background:#fff;
	/* Chrome 10+,Safari */
background : -webkit-linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
	/* Firefox 4+ */
background : -moz-linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
	/* Opera */
background : -o-linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
	/* IE 10+ */
background : -ms-linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
	/* W3C */
background : -linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
}
.menugroupbox-con .tag-box-last ol li p{
	text-align:center;
	border-bottom:1px solid #a6a6a6;
	margin-top:3px;
	}
.menugroupbox-con .tag-box-last ol li strong{
	text-align:center;
	display:block;
	padding-top:2px;
	}
.menugroupbox-con .tag-box ol li.tag-chosenbig p{border-bottom:1px solid #c7b700;}

/*custom select style start--------------------------------------------------------*/
.history-menugroupbox .tag-league-boxall{ width:630px;}
.history-menugroupbox .tag-date-box{ width:250px;}
.history-menugroupbox .tag-date-box ol.tag-date li {width:234px;}
.history-menugroupbox .tag-date-box ol.tag-date li.fold-head{ width:5px;}
.history-menugroupbox .tag-date-box ol.tag-date li.fold-footer{width:11px;}
.history-menugroupbox .tag-date-box ol li span{
	display:block;
	padding:0 6px;
	text-decoration:none;
	height:56px;
	width:42px;
	border:1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#737373;
	overflow:hidden;
	background:#fff;
	/* Chrome 10+,Safari */
background : -webkit-linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
	/* Firefox 4+ */
background : -moz-linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
	/* Opera */
background : -o-linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
	/* IE 10+ */
background : -ms-linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
	/* W3C */
background : -linear-gradient(bottom, rgb(248, 248, 248) 00%, rgb(238, 238, 238) 51%, rgb(248, 248, 248) 51%, rgb(254, 254, 254) 99%);
}
.history-menugroupbox .tag-date-box ol li.date-year span{width:62px;}
.history-menugroupbox .tag-date-box ol li.date-month span{width:52px;}
.history-menugroupbox .tag-date-box ol li.date-day span{width:72px;}
.history-menugroupbox .tag-date-box select{
	border:0;
	background:none;
	font-size:15px;
	line-height:normal;
	color:#737373;
	display:block;
	width:95%;
	height:20px;
	margin:3px auto 3px auto;
	padding:0;
	}
.history-menugroupbox .tag-date-box .tag-box-last ol li.date-day{ margin-right:0;}
.history-menugroupbox .tag-date-box .tag-box-last ol li p{margin-top:0;}
/*custom select style end---------------------------------------------------------*/
/*datamerge.htm start-------------------------------------------------------------*/
.datamerge-menugroupbox .tag-league-boxall{width:390px;}
.datamerge-menugroupbox .tag-banker-box{ float:left;width:320px;border-right:1px solid #cbcbcb;padding:0 19px;}
/*.datamerge-menugroupbox .tag-banker-box .tag-box-first{ margin-right:0;}*/
.datamerge-menugroupbox .tag-banker-box ol.tag-banker li{ width:304px;}
.datamerge-menugroupbox .tag-banker-box ol.tag-banker li.fold-head{ width:5px;}
.datamerge-menugroupbox .tag-banker-box ol.tag-banker li.fold-footer{width:11px;}

.datamerge-menugroupbox .tag-banker-box ol.tag-con-big li {	margin-right:20px;}
.datamerge-menugroupbox .tag-banker-box ol.tag-con-big li.banker-roc {margin-right:0px;}
.datamerge-menugroupbox .tag-banker-box ol.tag-con-big li, .datamerge-menugroupbox .tag-banker-box ol.tag-con-big li a {
	height:66px;
	width:150px;
	border:0;
	padding:0;
	text-indent:-9999px;
}
.datamerge-menugroupbox .tag-banker-box ol.tag-con-big li.banker-universe a:link {
	background:url(/images/banker_universe.png) no-repeat center top;
}
.datamerge-menugroupbox .tag-banker-box ol.tag-con-big li.banker-universe a:visited {
	background:url(/images/banker_universe.png) no-repeat center top;
}
.datamerge-menugroupbox .tag-banker-box ol.tag-con-big li.banker-universe a:hover {
	background:url(/images/banker_universe.png) no-repeat center -66px;
}
.datamerge-menugroupbox .tag-banker-box ol.tag-con-big li.banker-universe a:active {
	background:url(/images/banker_universe.png) no-repeat center bottom;
}
.datamerge-menugroupbox .tag-banker-box ol.tag-con-big li.banker-roc a:link {
	background:url(/images/banker_roc.png) no-repeat center top;
}
.datamerge-menugroupbox .tag-banker-box ol.tag-con-big li.banker-roc a:visited {
	background:url(/images/banker_roc.png) no-repeat center top;
}
.datamerge-menugroupbox .tag-banker-box ol.tag-con-big li.banker-roc a:hover {
	background:url(/images/banker_roc.png) no-repeat center -66px;
}
.datamerge-menugroupbox .tag-banker-box ol.tag-con-big li.banker-roc a:active {
	background:url(/images/banker_roc.png) no-repeat center bottom;
}
.datamerge-menugroupbox .tag-banker-box ol.tag-con-big li.banker-universe-chosen {
	background:url(/images/banker_universe.png) no-repeat center bottom;
}
.datamerge-menugroupbox .tag-banker-box ol.tag-con-big li.banker-roc-chosen {
	background:url(/images/banker_roc.png) no-repeat center bottom;
}
.datamerge-menugroupbox .tag-date-box{ width:130px;}
.datamerge-menugroupbox .tag-date-box ol.tag-date li {width:114px;}
.datamerge-menugroupbox .tag-date-box ol.tag-date li.fold-head{ width:5px;}
.datamerge-menugroupbox .tag-date-box ol.tag-date li.fold-footer{width:11px;}
.datamerge-menugroupbox .tag-date-box ol li a, .datamerge-menugroupbox .tag-box ol li.tag-chosenbig{ width:46px; height:64px;}
.datamerge-menugroupbox .tag-box-last ol li p{ margin-top:6px;}
/*datamerge.htm end-------------------------------------------------------------*/
/*rank.htm start*/
.rank-menugroupbox .rank-tag-box{
	margin-bottom:10px;
	border-bottom: 1px solid #d9d9d9;
}
.rank-menugroupbox .menugroupbox-con .tag-league-boxall{
	width:auto;
	border-right:0;
	padding-right:0;
	margin: 2rem 0 0 0;
	}
.rank-menugroupbox .tag-banker-box{
	float:right;
	width:310px;
	}
.rank-menugroupbox .tag-banker-box ol.tag-banker li{
	width:294px;
	margin:0;
	background: url(/images/buy_predict_tag_bg_07.jpg) repeat-x left top;
	}
.rank-menugroupbox .tag-banker-box ol.tag-banker li.fold-head{ width:5px;
	background: url(/images/buy_predict_tag_bg_06.png) no-repeat left top;
	}
.rank-menugroupbox .tag-banker-box ol.tag-banker li.fold-footer{width:11px;
	background: url(/images/buy_predict_tag_bg_09.png) no-repeat left top;
	}

.rank-menugroupbox .tag-banker-box ol.tag-con{padding-left:0;clear:both;}

.rank-menugroupbox .tag-banker-box ol.tag-con-big li {	margin-right:10px;}
.rank-menugroupbox .tag-banker-box ol.tag-con-big li.banker-roc {margin-right:0px;}
.rank-menugroupbox .tag-banker-box ol.tag-con-big li,
.rank-menugroupbox .tag-banker-box ol.tag-con-big li a {
	height:66px;
	width:150px;
	border:0;
	padding:0;
	text-indent:-9999px;
}
.rank-menugroupbox .tag-banker-box ol.tag-con-big li.banker-universe a:link {
	background:url(/images/banker_universe.png) no-repeat center top;
}
.rank-menugroupbox .tag-banker-box ol.tag-con-big li.banker-universe a:visited {
	background:url(/images/banker_universe.png) no-repeat center top;
}
.rank-menugroupbox .tag-banker-box ol.tag-con-big li.banker-universe a:hover {
	background:url(/images/banker_universe.png) no-repeat center -66px;
}
.rank-menugroupbox .tag-banker-box ol.tag-con-big li.banker-universe a:active {
	background:url(/images/banker_universe.png) no-repeat center bottom;
}
.rank-menugroupbox .tag-banker-box ol.tag-con-big li.banker-roc a:link {
	background:url(/images/banker_roc.png) no-repeat center top;
}
.rank-menugroupbox .tag-banker-box ol.tag-con-big li.banker-roc a:visited {
	background:url(/images/banker_roc.png) no-repeat center top;
}
.rank-menugroupbox .tag-banker-box ol.tag-con-big li.banker-roc a:hover {
	background:url(/images/banker_roc.png) no-repeat center -66px;
}
.rank-menugroupbox .tag-banker-box ol.tag-con-big li.banker-roc a:active {
	background:url(/images/banker_roc.png) no-repeat center bottom;
}
.rank-menugroupbox .tag-banker-box ol.tag-con-big li.banker-universe-chosen {
	background:url(/images/banker_universe.png) no-repeat center bottom;
}
.rank-menugroupbox .tag-banker-box ol.tag-con-big li.banker-roc-chosen {
	background:url(/images/banker_roc.png) no-repeat center bottom;
}
.rank-primary-menugroupbox .tag-banker-box{ display:none;}
.rank-primary-menugroupbox .menugroupbox-con .tag-league-boxall{ width:920px;}

/*rank.htm end*/

/*gamedata_battle.htm start*/
.gamedata-menugroupbox .menugroupbox-con .tag-league-boxall{
	width:920px;
	border-right:0;
	padding-right:0;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom:10px;
	*padding-bottom:10px;/*IE7*/
	}
.gamedata-menugroupbox .menugroupbox-con .tag-league-box .tag-con-battle{
	overflow:visible;
}
.gamedata-menugroupbox .tag-box ol li.marker{
position:relative;
/*z-index:100;*/
}
.gamedata-menugroupbox .tag-box ol li a.dropdown-title{
	display:block;
	width: auto;
	font-size:15px;
	line-height:24px;
	text-decoration: none;
	cursor:pointer;
	border:1px solid #c7ad00;
	color:#000;
	padding:0 6px;
	margin-bottom:10px;

	background:#ffde00;
	background : -webkit-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	background : -moz-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	background : -o-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	background : -ms-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	background : -linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	-moz-box-shadow:inset 0px 0px 3px 0px #7f6e00;                /* For Firefox3.6+ */
	-webkit-box-shadow:inset 0px 0px 3px 0px #7f6e00;             /* For Chrome5+, Safari5+ */
	box-shadow:inset 0px 0px 3px 0px #7f6e00;                    /* For Latest Opera */
}

.gamedata-menugroupbox .tag-box ol li:hover a.dropdown-title{
	border:1px solid #ccc;
	color:#737373;
	background:#fff;

	padding-bottom:10px;
	border-bottom:1px solid #fff;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-box-shadow:0px 0px 0px 0px #ccc;                /*For Firefox3.6+ */
	-webkit-box-shadow:0px 0px 0px 0px #ccc;             /*For Chrome5+, Safari5+*/ 
	box-shadow:0px 0px 0px 0px #ccc;                     /*For Latest Opera*/ 

	position:relative;
	z-index:600;
}

.gamedata-menugroupbox .tag-box ol li a.dropdown-title span{
	background:url(/images/mega_arrowdownMvp.png) no-repeat center bottom;
	display:inline-block;
	width:11px;
	height:6px;
	padding:0 0 0 16px;
	margin-bottom:2px;
	*margin-bottom:8px;/*IE7*/
}
.gamedata-menugroupbox .tag-box ol li:hover a.dropdown-title span{
	background-position: center bottom;
}
.gamedata-menugroupbox .tag-box ol li div.megadropdown{
	width:908px;
	position:absolute;
	left:-99999em;
	top:auto;
	z-index:550;
	background:#fff;
	border:1px solid #ccc;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:0px 0px 3px 0px #ccc;
	-webkit-box-shadow:0px 0px 3px 0px #ccc;
	box-shadow:0px 0px 3px 0px #ccc;
}
.gamedata-menugroupbox .tag-box ol li div.megadropdown:after{
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
/*取消移至時觸發
.gamedata-menugroupbox .tag-box ol li:hover div.megadropdown{
	left:-57px;
	top:35px;
}
.gamedata-menugroupbox .tag-box ol li:hover div.megadropdown-battle{
	left:-86px;
	top:35px;
}
*/
.gamedata-menugroupbox .tag-box ol li div.megadropdown{
	left:-57px;
	top:35px;
}
.gamedata-menugroupbox .tag-box ol li div.megadropdown-battle{
	left:-86px;
	top:35px;
}

.gamedata-menugroupbox .tag-box ol li div.crop{
	overflow:hidden;
	padding-bottom:3px;
}
.gamedata-menugroupbox .megadropdown-battle-date{
	float:left;
	background:#E6E6E6;
	width:444px;
	padding:2px 2px 3px 2px;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:-10000px;
	padding-bottom:10000px;
}
.gamedata-menugroupbox .megadropdown-battle-date01{
	margin-right:8px;
}
.gamedata-menugroupbox .title-date{
	float:left;
	padding:0 4px;
}
.gamedata-menugroupbox .megadropdown div.title-date p{
	border-bottom:1px solid #BFBFBF;
	color:#4c4c4c;
	font-family:"Trebuchet MS";
	font-weight:bold;
	letter-spacing:-1px;
	margin:0;
	padding-bottom:4px;
}
.gamedata-menugroupbox .megadropdown div.title-date p.battle-month{
	margin-top:3px;
}
.gamedata-menugroupbox .megadropdown div.title-date p.battle-date{
	font-size:28px;
	padding-top:2px;
}
.gamedata-menugroupbox .megadropdown div.title-date p.battle-week{
	padding-top:2px;
	border-bottom:0px;
}
.menugroupbox-con .tag-box ol li .megadropdown div a span{
	color:#999;
	padding:0 5px 0 10px;
}
.menugroupbox-con .tag-box ol li .megadropdown div a strong{
	display:inline;
	color:#4c4c4c;
	padding:0 10px 0 10px;
}
.menugroupbox-con .tag-box ol li .megadropdown p.nogame{
	border:0;
	text-align:center;
	margin-top:34px;
}
.menugroupbox-con .tag-box ol li .megadropdown div a{
	/*margin:0 0 -1px 45px;*/
	margin-bottom:-1px;
	width:384px;
	float:right;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border:1px solid #ccc;
	background:#fff;
	padding:4px 8px;
}
.menugroupbox-con .tag-box ol li .megadropdown div a.even-a{
	background:#F5F5F5;
}
.menugroupbox-con .tag-box ol li .megadropdown div a:hover{
	color:#000;
	border:1px solid #c7ad00;
	background:#ffde00;
	/* Chrome 10+,Safari */
background : -webkit-linear-gradient(bottom, rgb(255, 237, 38) 00%, rgb(255, 210, 12) 51%, rgb(255, 237, 38) 51%, rgb(255, 255, 0) 99%);
	/* Firefox 4+ */
background : -moz-linear-gradient(bottom, rgb(255, 237, 38) 00%, rgb(255, 210, 12) 51%, rgb(255, 237, 38) 51%, rgb(255, 255, 0) 99%);
	/* Opera */
background : -o-linear-gradient(bottom, rgb(255, 237, 38) 00%, rgb(255, 210, 12) 51%, rgb(255, 237, 38) 51%, rgb(255, 255, 0) 99%);
	/* IE 10+ */
background : -ms-linear-gradient(bottom, rgb(255, 237, 38) 00%, rgb(255, 210, 12) 51%, rgb(255, 237, 38) 51%, rgb(255, 255, 0) 99%);
	/* W3C */
background : -linear-gradient(bottom, rgb(255, 237, 38) 00%, rgb(255, 210, 12) 51%, rgb(255, 237, 38) 51%, rgb(255, 255, 0) 99%);
}
.menugroupbox-con .tag-box ol li .megadropdown div a:active, .menugroupbox-con .tag-box ol li .megadropdown div a.battle-chosen{
	color:#000;
	background:#ffde00;
	border:1px solid #c7ad00;
	-moz-box-shadow:inset 0px 0px 3px 0px #7f6e00;                /* For Firefox3.6+ */
	-webkit-box-shadow:inset 0px 0px 3px 0px #7f6e00;             /* For Chrome5+, Safari5+ */
	box-shadow:inset 0px 0px 3px 0px #7f6e00;                    /* For Latest Opera */
	/* Chrome 10+,Safari */
background : -webkit-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* Firefox 4+ */
background : -moz-linear-gradientbottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* Opera */
background : -o-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* IE 10+ */
background : -ms-linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
	/* W3C */
background : -linear-gradient(bottom, rgb(255, 228, 18) 00%, rgb(255, 216, 6) 51%, rgb(255, 229, 19) 51%, rgb(255, 238, 1) 99%);
}
.menugroupbox-con .tag-box ol li .megadropdown div a:hover span,
.menugroupbox-con .tag-box ol li .megadropdown div a:hover strong,
.menugroupbox-con .tag-box ol li .megadropdown div a:active span,
.menugroupbox-con .tag-box ol li .megadropdown div a:active strong,
.menugroupbox-con .tag-box ol li .megadropdown div a.battle-chosen span,
.menugroupbox-con .tag-box ol li .megadropdown div a.battle-chosen strong{color:#000;}

.menugroupbox-con .tag-box ol li .megadropdown div a.battle-chosen{cursor:default;}
/*gamedata_battle.htm end*/

/*gamedata_history_1col 2col 3col 6col.htm start*/
.gamedata-menugroupbox .tag-box ol li div.megadropdown-2col{width:308px;}
.gamedata-menugroupbox .tag-box ol li div.megadropdown-3col{width:458px;}

.gamedata-menugroupbox .tag-box ol li .megadropdown div.crop{padding:0;}
.megadropdown .megadropdown-teamlist{
	padding:3px;
	padding-right:0;
	margin:0 auto;
	overflow:hidden;
	height:100%;
	background:#E6E6E6;
}
.megadropdown-crop-lv2{
	float:left;
	position:relative;
	overflow:hidden;
	height:100%;
	background:#fff;
	border:1px solid #d8d8d8;
}
.megadropdown-6col .megadropdown-crop-lv2{width:900px;}
.megadropdown-2col .megadropdown-crop-lv2{width:300px;}
.megadropdown-3col .megadropdown-crop-lv2{width:450px;}

.megadropdown-crop-lv1{
	float:left;
	width:100%;
	position:relative;
	background:#fff;
	border-right:1px solid #b2b2b2;
}
.megadropdown-6col .megadropdown-crop-lv1{right:451px;}
.megadropdown-2col .megadropdown-crop-lv1{right:151px;}
.megadropdown-3col .megadropdown-crop-lv1{right:151px;}

.league01, .league02, .league03{
	float:left;
	position:relative;
	border-bottom:1px solid #d8d8d8;
	margin-bottom:-1px;
}
.league01{z-index:100;}
.megadropdown-6col .league01{left:451px;}
.megadropdown-2col .league01{left:151px;}
.megadropdown-3col .league01{left:151px;}

.megadropdown-6col .league02{left:451px;}
.megadropdown-2col .league02{left:151px;}
.megadropdown-3col .league02{left:151px;}

.megadropdown-3col .league03{left:151px;}

.megadropdown-teamlist h1{
	background:#E6E6E6;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	color:#4d4d4d;
	padding:4px 0;
}
.megadropdown-6col .megadropdown-teamlist h1{width:450px;}
.megadropdown-2col .megadropdown-teamlist h1{width:150px;}
.megadropdown-3col .megadropdown-teamlist h1{width:150px;}

.megadropdown-6col .megadropdown-teamlist .league01 h1{width:449px;border-right:1px solid #b2b2b2;
}
.megadropdown-2col .megadropdown-teamlist .league01 h1{width:149px;border-right:1px solid #b2b2b2;
}
.megadropdown-3col .megadropdown-teamlist .league01 h1{width:149px;border-right:1px solid #b2b2b2;
}
.megadropdown-3col .megadropdown-teamlist .league02 h1{width:149px;border-right:1px solid #b2b2b2;
}
.menugroupbox-con .tag-box ol li .megadropdown .megadropdown-teamlist ul{float:left;}
.menugroupbox-con .tag-box ol li .megadropdown .megadropdown-teamlist ul li{
	float:none;
	margin:0;
	height:auto;
	line-height:auto;
}
.menugroupbox-con .tag-box ol li .megadropdown .megadropdown-teamlist ul li.tag-chosen,
.menugroupbox-con .tag-box ol li .megadropdown .megadropdown-teamlist div a{
	margin-left:-1px;
	margin-bottom:-1px;
	padding:4px 6px;
	text-align:left;
	float:none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.menugroupbox-con .tag-box ol li .megadropdown .megadropdown-teamlist div a{
	border:1px solid #d8d8d8;
}
.menugroupbox-con .tag-box ol li .megadropdown-6col .megadropdown-teamlist div a,
.menugroupbox-con .tag-box ol li .megadropdown-2col .megadropdown-teamlist div a,
.menugroupbox-con .tag-box ol li .megadropdown-3col .megadropdown-teamlist div a{
	width:137px;
}
.menugroupbox-con .tag-box ol li .megadropdown .megadropdown-teamlist div a:hover,
.menugroupbox-con .tag-box ol li .megadropdown .megadropdown-teamlist div a:active{
	border-color:#d8d8d8;
}
.menugroupbox-con .tag-box ol li .megadropdown-6col .league02 .team-list03 li a{
	border-right:0;
	width:138px;
}
.menugroupbox-con .tag-box ol li .megadropdown-2col .league02 .team-list01 li a{
	border-right:0;
	width:138px;
}
.menugroupbox-con .tag-box ol li .megadropdown-3col .league02 .team-list01 li a{
    border-right:0;
    width:138px;
}
.menugroupbox-con .tag-box ol li .megadropdown-6col .league01 .team-list03 li a,
.menugroupbox-con .tag-box ol li .megadropdown-2col .league01 .team-list01 li a{
	border-right:1px solid #b2b2b2;
}
.menugroupbox-con .tag-box ol li .megadropdown-2col .league-same .team-list01 li a{
	border-right:1px solid #d8d8d8;
}
.megadropdown-6col .megadropdown-teamlist div ul li:first-child{
	color:#666666;
	padding:4px 6px;
	border-top:1px solid #b2b2b2;
	border-right:1px solid #d8d8d8;
	background: #f2f2f2;
background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(228,228,228) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(228,228,228)));
background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(228,228,228) 100%);
background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(228,228,228) 100%);
background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(228,228,228) 100%);
background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(228,228,228) 100%);
}
.megadropdown-6col .megadropdown-teamlist .league01 .team-list03 li:first-child{
	border-right:1px solid #b2b2b2;
}
.megadropdown-6col .megadropdown-teamlist .league02 .team-list03 li:first-child{
	border-right:0px;
}
/*gamedata_history_1col 2col 6col.htm end*/

/*menugroup style end============================================================*/



/*=========================all.html===============================================*/
.menugroupbox-bg {
	background:none;
	display: flex;
	padding: 1em;
}
